header {
	padding: 10px;
	height: 50px;
	margin: -1.6%;
	margin-bottom: 1.6%;
	background: white;
}
h1 {
	text-align: center;
	margin: 0.5%;
}
body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	background: lightgray;
}
.feed {
	width: 600px;
	margin: auto;
}
.cuadro1 {
	margin-top: 10%;
	background: white;
}
.cuadro2 {
	margin-top: 10%;
	background: white;
}
.cuadro3 {
	margin-top: 10%;
	background: white;
}
img {
	width: 600px;
}
#tit {
	font-size: 110%;
	margin-left: 2%;
	float: left;
}
#num {
	color: gray;
	margin-right: 2%;
	float: right;
}
#desc {
	padding: 1%;
	margin-left: 2%;
	margin-right: 2%;
}